.notBorn,
.youWere,
.shareResult {
	display: none;
}

.shareResult {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.o {
	/* ADD MORE PADDIN FOR LARGER BREAKPOINT */
	margin-top: 20px;
	width: 70%;
	max-width: 500px;
}

.dub {
	width: 65px;
}

/*

btnFormat(marTop,marBtm,wdth)
	display block
	margin 0 auto
	margin-top marTop
	margin-bottom marBtm,
	width wdth

.sendTweet
	btnFormat(30px,inherit,200px)

.facebook
	btnFormat(15px,30px,175px)
*/

.sendTweet {
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	width: 200px;
}

.facebook {
	display: block;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 30px;
	width: 175px;
}

.youWere span {
	font-size: 2em;
}

.reset {
	text-align: center;
}

/* ADD SEXY SCROLLBAR FOR THANKS PAGE & SHITTY OLD PHONES */
/* Green #094c3a
/* Yelllow #fff200