/* FONTS */
@font-face{ 
	font-family: 'college_bold';
	src: url('../fonts/college_bold/college_bold.eot');
	src: url('../fonts/college_bold/college_bold.eot?iefix') format('eot'),
	     url('../fonts/college_bold/college_bold.woff') format('woff'),
	     url('../fonts/college_bold/college_bold.ttf') format('truetype'),
	     url('../fonts/college_bold/college_bold.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'college_semi-condensed';
	src: url('../fonts/college_semi-condensed/college_semi-condensed.eot');
	src: url('../fonts/college_semi-condensed/college_semi-condensed.eot?iefix') format('eot'),
	     url('../fonts/college_semi-condensed/college_semi-condensed.woff') format('woff'),
	     url('../fonts/college_semi-condensed/college_semi-condensed.ttf') format('truetype'),
	     url('../fonts/college_semi-condensed/college_semi-condensed.svg#webfont') format('svg');
}

/* VARIABLES */
green = #094c3a
ltgreen = #094e3a
yellow = #fff200
grey = #f4f4f4
offWhite = #efefef

/* MIXINS */
linkHover()
	opacity 0.7

appBtn()
	background green
	border solid 2px ltgreen

/* HELPER CLASSES */
.off_page 
	display block
	height 1px
	text-indent -9999px
	white-space nowrap
	overflow hidden

/* OVERRIDES */
.content-section-a .container
	width 100%

.form-control
	width 110px

.btn,
.btn:focus,
.btn:active:focus {
	appBtn()
	outline none
}

.btn:hover,
.btn:active
	appBtn()
	opacity .9

.control-label
	float left
	margin-right 15px
	width 110px

.form-group
	margin 0 auto !important /* I know... I hate this too */
	padding-bottom 15px
	width 240px

.modal-content
	background url(../img/jersey.jpg)

.modal-header 
	border-bottom none

.modal-body
	min-height 278px
	padding 20px 50px 50px 50px

	.btn i
		color yellow

/* GENERIC ELEMENT STYLES */
h1 {
	font-family: 'college_bold';
	word-spacing: -.15em;
}

body {
	font-family: 'college_semi-condensed';
}

form h4
	margin-bottom 40px 
	text-align center

/* SPECIFIC ELEMENT STYLES */
.header h3,
.header h4 
	color offWhite
	font-family 'college_condensed'

.open_modal 
	margin-top 30px
	margin-bottom 30px

.age-calc 
	display block
	margin 0 auto
	margin-top 25px
	width 100px


.shareResult
	margin-top 10px

.view_credits
	line-height 3.75em

#credits
	display none

	a
		color green
		&:hover
			linkHover()
			text-decoration none

	.hide_credits
		line-height 3.75em
		margin-bottom 30px

/*  MEDIA QUERIES */
@media screen and (min-width: 768px)
	.form-group
		width 300px

/* Need to import current working styles for medium and large widths, then setup main style for small screens

/* Also, can (or should) I supress the scroll bar on the mobile page expansion for the credits section (and possibly others)