/* FONTS */
@font-face 
	font-family 'college_bold'
	src url('../fonts/college_bold/college_bold.eot')
	src url('../fonts/college_bold/college_bold.eot?iefix') format('eot'),
	     url('../fonts/college_bold/college_bold.woff') format('woff'),
	     url('../fonts/college_bold/college_bold.ttf') format('truetype'),
	     url('../fonts/college_bold/college_bold.svg#webfont') format('svg')

@font-face 
	font-family 'college_semi-condensed'
	src url('../fonts/college_semi-condensed/college_semi-condensed.eot')
	src url('../fonts/college_semi-condensed/college_semi-condensed.eot?iefix') format('eot'),
	     url('../fonts/college_semi-condensed/college_semi-condensed.woff') format('woff'),
	     url('../fonts/college_semi-condensed/college_semi-condensed.ttf') format('truetype'),
	     url('../fonts/college_semi-condensed/college_semi-condensed.svg#webfont') format('svg')

/* VARIABLES */
green = #094c3a
grey = #f4f4f4
ltgreen = #094e3a
offWhite = #efefef
yellow = #fff200

/* MIXINS */
linkHover()
	color green
	opacity 0.7
	text-decoration none

appBtn()
	background green
	border solid 2px ltgreen

btnCenter(val1, val2)
	display block
	margin 0 auto
	margin-top val1
	width val2